<h1 class="mb-0">Irving
  <span class="text-primary">Herrera</span>
</h1>
<div class="subheading mb-5">#6 Lázaro Cárdenas Street · Lázaro Cárdenas, Cuernavaca Morelos Mexico, CP 62080 · 777 182 18 72 ·
  <a href="mailto:name@email.com">irving.herreramolina@gmail.com</a>
</div>
<p class="lead mb-5">.NET Developer with 6 years of experience developing software for companies from different
sectors: Financial, Energy, Education and Research. I am an “Enthusiast of the new technologies of the .NET platform”,
I love learning new tools and technologies,
as well as analyzing if they can be used professionally or not.</p>
<div class="social-icons">
  <a href="www.linkedin.com/in/irvinghm">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/irvingHerrera">
    <i class="fab fa-github"></i>
  </a>
